*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', cursive;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #080808;
    color: #fff;
}

